<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE">
  <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
  <title>Product Details</title>
  <link rel="icon" href="/img/logo.png">

  <link rel="stylesheet" type="text/css" href="/css/all.css" />
  <link rel="stylesheet" type="text/css" href="/css/pages-seckill-item.css" />
  <link rel="stylesheet" type="text/css" href="/css/pages-zoom.css" />
</head>

<body>
  <!-- Header -->
  <!-- Top of page -->
  <div id="nav-bottom">
    <!-- Top -->
    <div class="nav-top">
      <div class="top">
        <div class="py-container">
          <div class="shortcut">
            <ul class="fl">
              <li class="f-item">Welcome!</li>
              <li class="f-item">Please<a href="login.html" target="_blank">Log In</a>　<span><a href="register.html"
                    target="_blank">Register Free</a></span></li>
            </ul>
            <div class="fr typelist">
              <ul class="types">
                <li class="f-item"><span>My Orders</span></li>

                <li class="f-item"><span><a href="cart.html" target="_blank">My Cart</a></span></li>
                <li class="f-item"><span><a href="home.html" target="_blank">Account Center</a></span></li>
                <li class="f-item"><span>Membership</span></li>
                <li class="f-item"><span>Business Purchase</span></li>
                <li class="f-item"><span>Follow Us</span></li>
                <li class="f-item"><span><a href="cooperation.html" target="_blank">Partner With Us</a></span></li>
                <li class="f-item"><span><a href="shoplogin.html" target="_blank">Merchant Portal</a></span></li>
                <li class="f-item"><span>Site Navigation</span></li>
              </ul>
            </div>

          </div>
        </div>
      </div>

      <!-- Header -->
      <div class="header">
        <div class="py-container">
          <div class="yui3-g Logo">
            <div class="yui3-u Left logoArea">
              <a class="logo-bd" title="Flash Sale Mall" href="index.html" target="_blank"></a>
            </div>
            <div class="yui3-u Rit searchArea">
              <div class="search">
                <form action="" class="sui-form form-inline">
                  <!--searchAutoComplete-->
                  <div class="input-append">
                    <input type="text" id="autocomplete" class="input-error input-xxlarge" />
                    <button class="sui-btn btn-xlarge btn-danger" type="button">Search</button>
                  </div>
                </form>
              </div>
            </div>

          </div>

        </div>
      </div>
    </div>
  </div>

  <div class="py-container">
    <div id="item">
      <div class="crumb-wrap">
        <ul class="sui-breadcrumb">
          <li>
            <a href="#">Phones, Digital & Communication</a>
          </li>
          <li>
            <a href="#">Phones</a>
          </li>
          <li>
            <a href="#">Apple</a>
          </li>
          <li class="active">iPhone 6S Series</li>
        </ul>
      </div>
      <!--product-info-->
      <div class="product-info">
        <div class="fl preview-wrap">
          <!-- Magnifier effect -->
          <div class="zoom">
            <!-- Default first preview -->
            <div id="preview" class="spec-preview">
              <span class="jqzoom"><img jqimg="/img/_/b1.png" src="/img/_/s1.png" /></span>
            </div>
            <!-- Thumbnails below -->
            <div class="spec-scroll">
              <a class="prev">&lt;</a>
              <!-- Left/right buttons -->
              <div class="items">
                <ul>
                  <li><img src="/img/_/s1.png" /></li>
                  <li><img src="/img/_/s2.png" bimg="../img/_/b2.png" onmousemove="preview(this)" /></li>
                  <li><img src="/img/_/s3.png" bimg="../img/_/b3.png" onmousemove="preview(this)" /></li>
                  <li><img src="/img/_/s1.png" bimg="../img/_/b1.png" onmousemove="preview(this)" /></li>
                  <li><img src="/img/_/s2.png" bimg="../img/_/b2.png" onmousemove="preview(this)" /></li>
                  <li><img src="/img/_/s3.png" bimg="../img/_/b3.png" onmousemove="preview(this)" /></li>
                  <li><img src="/img/_/s1.png" bimg="../img/_/b1.png" onmousemove="preview(this)" /></li>
                  <li><img src="/img/_/s2.png" bimg="../img/_/b2.png" onmousemove="preview(this)" /></li>
                  <li><img src="/img/_/s3.png" bimg="../img/_/b3.png" onmousemove="preview(this)" /></li>
                </ul>
              </div>
              <a class="next">&gt;</a>
            </div>
          </div>
          <div class="product-collect">
            <a href="javascript:;" id="star"><img src="/img/_/shi_heart.png" alt=""> Favorite</a>
          </div>
        </div>
        <div class="fr itemInfo-wrap">
          <div class="sku-name">
            <h4>iphone12 pro</h4>
          </div>
          <div class="news">
            <span><img src="/img/_/clock.png" />Flash Sale Mall</span>
            <span class="overtime">Ends in: 01:56:78</span>
          </div>
          <div class="summary">
            <div class="summary-wrap">

              <div class="fl title">
                <i>Price</i>
              </div>
              <div class="fl price">
                <i>¥</i>
                <em>￥5888.00</em>
                <span>Price Drop Alert</span>
              </div>
              <div class="fr remark">
                <i>Reviews</i><em>612188</em>
              </div>
            </div>
            <div class="summary-wrap">
              <div class="fl title">
                <i>Promotion</i>
              </div>
              <div class="fl fix-width">
                <i class="red-bg">Add-on Purchase</i>
                <em class="t-gray">Spend ¥999.00 and add ¥20.00, or ¥1999.00 and add ¥30.00, or ¥2999.00 and add ¥40.00 to exchange for hot-selling items in your cart</em>
              </div>
            </div>
          </div>
          <div class="support">
            <div class="summary-wrap">
              <div class="fl title">
                <i>Support</i>
              </div>
              <div class="fl fix-width">
                <em class="t-gray">Trade-in, idle phone recycling, 4G plans flash deals, gift purchase</em>
              </div>
            </div>
            <div class="summary-wrap">
              <div class="fl title">
                <i>Deliver To</i>
              </div>
              <div class="fl fix-width">
                <em class="t-gray">Spend ¥999.00 and add ¥20.00, or ¥1999.00 and add ¥30.00, or ¥2999.00 and add ¥40.00 to exchange for hot-selling items in your cart</em>
              </div>
            </div>
          </div>
          <div class="clearfix choose">
            <div id="specification" class="summary-wrap clearfix">
              <dl>
                <dt>
                  <div class="fl title">
                    <i>Color</i>
                  </div>
                </dt>
                <dd><a href="javascript:;" class="selected">Gold<span title="Click to deselect">&nbsp;</span>
                  </a></dd>
                <dd><a href="javascript:;">Silver</a></dd>
                <dd><a href="javascript:;">Black</a></dd>
              </dl>
              <dl>
                <dt>
                  <div class="fl title">
                    <i>Storage</i>
                  </div>
                </dt>
                <dd><a href="javascript:;" class="selected">16G<span title="Click to deselect">&nbsp;</span>
                  </a></dd>
                <dd><a href="javascript:;">64G</a></dd>
                <dd><a href="javascript:;" class="locked">128G</a></dd>
              </dl>
              <dl>
                <dt>
                  <div class="fl title">
                    <i>Version</i>
                  </div>
                </dt>
                <dd><a href="javascript:;" class="selected">Standard Edition<span title="Click to deselect">&nbsp;</span>
                  </a></dd>
                <dd><a href="javascript:;">Mobile Edition</a></dd>
              </dl>
              <dl>
                <dt>
                  <div class="fl title">
                    <i>Purchase Type</i>
                  </div>
                </dt>
                <dd><a href="javascript:;" class="selected">Official Standard<span title="Click to deselect">&nbsp;</span>
                  </a></dd>
                <dd><a href="javascript:;">Mobile Discount Edition</a></dd>
                <dd><a href="javascript:;" class="locked">Telecom Discount Edition</a></dd>
              </dl>
              <dl>
                <dt>
                  <div class="fl title">
                    <i>Bundle</i>
                  </div>
                </dt>
                <dd><a href="javascript:;" class="selected">Protective Bundle<span title="Click to deselect">&nbsp;</span>
                  </a></dd>
                <dd><a href="javascript:;" class="locked">Charging Bundle</a></dd>

              </dl>


            </div>


            <div class="summary-wrap">
              <div class="fl title">
                <div class="control-group">
                  <div class="controls">
                    <input autocomplete="off" type="text" value="1" minnum="1" class="itxt" />
                    <a href="javascript:void(0)" class="increment plus">+</a>
                    <a href="javascript:void(0)" class="increment mins">-</a>
                  </div>
                </div>
              </div>
              <div class="fl">
                <ul class="btn-choose unstyled">
                  <li>
                    <a href="/seckill/buy/1234/19" target="_blank"
                      class="addshopcar">Buy Now</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--product-detail-->
      <div class="clearfix product-detail">
        <div class="fl aside">
          <div class="shop">
            <span class="fl">Samsung Flagship Store</span><span class="fr"><a href="shop.html" target="_blank"
                class="sui-btn btn-bordered btn-danger">Enter Store</a></span>
          </div>
          <div class="clearfix"></div>
          <ul class="sui-nav nav-tabs tab-wraped">
            <li class="active">
              <a href="#index" data-toggle="tab">
                <span>Related Categories</span>
              </a>
            </li>
            <li>
              <a href="#profile" data-toggle="tab">
                <span>Recommended Brands</span>
              </a>
            </li>
          </ul>
          <div class="tab-content tab-wraped">
            <div id="index" class="tab-pane active">
              <ul class="part-list unstyled">
                <li>Phones</li>
                <li>Phone Cases</li>
                <li>Memory Cards</li>
                <li>iPhone Accessories</li>
                <li>Screen Protectors</li>
                <li>Phone Earphones</li>
                <li>Power Banks</li>
                <li>Tablets</li>
              </ul>
              <ul class="goods-list unstyled">
                <li>
                  <div class="list-wrap">
                    <div class="p-img">
                      <img src="/img/_/part01.png" />
                    </div>
                    <div class="attr">
                      <em>Apple iPhone 6s (A1699)</em>
                    </div>
                    <div class="price">
                      <strong>
                        <em>¥</em>
                        <i>6088.00</i>
                      </strong>
                    </div>
                    <div class="operate">
                      <a href="javascript:void(0);" class="sui-btn btn-bordered">Buy Now</a>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="list-wrap">
                    <div class="p-img">
                      <img src="/img/_/part02.png" />
                    </div>
                    <div class="attr">
                      <em>Apple iPhone 6s (A1699)</em>
                    </div>
                    <div class="price">
                      <strong>
                        <em>¥</em>
                        <i>6088.00</i>
                      </strong>
                    </div>
                    <div class="operate">
                      <a href="javascript:void(0);" class="sui-btn btn-bordered">Buy Now</a>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="list-wrap">
                    <div class="p-img">
                      <img src="/img/_/part03.png" />
                    </div>
                    <div class="attr">
                      <em>Apple iPhone 6s (A1699)</em>
                    </div>
                    <div class="price">
                      <strong>
                        <em>¥</em>
                        <i>6088.00</i>
                      </strong>
                    </div>
                    <div class="operate">
                      <a href="javascript:void(0);" class="sui-btn btn-bordered">Buy Now</a>
                    </div>
                  </div>
                  <div class="list-wrap">
                    <div class="p-img">
                      <img src="img/_/part02.png" />
                    </div>
                    <div class="attr">
                      <em>Apple iPhone 6s (A1699)</em>
                    </div>
                    <div class="price">
                      <strong>
                        <em>¥</em>
                        <i>6088.00</i>
                      </strong>
                    </div>
                    <div class="operate">
                      <a href="javascript:void(0);" class="sui-btn btn-bordered">Buy Now</a>
                    </div>
                  </div>
                  <div class="list-wrap">
                    <div class="p-img">
                      <img src="/img/_/part03.png" />
                    </div>
                    <div class="attr">
                      <em>Apple iPhone 6s (A1699)</em>
                    </div>
                    <div class="price">
                      <strong>
                        <em>¥</em>
                        <i>6088.00</i>
                      </strong>
                    </div>
                    <div class="operate">
                      <a href="javascript:void(0);" class="sui-btn btn-bordered">Buy Now</a>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
            <div id="profile" class="tab-pane">
              <p>Recommended Brands</p>
            </div>
          </div>
        </div>
        <div class="fr detail">
          <div class="clearfix fitting">
            <h4 class="kt">Select a Bundle</h4>
            <div class="good-suits">
              <div class="fl master">
                <div class="list-wrap">
                  <div class="p-img">
                    <img src="/img/_/l-m01.png" />
                  </div>
                  <em>￥5299</em>
                  <i>+</i>
                </div>
              </div>
              <div class="fl suits">
                <ul class="suit-list">
                  <li class="">
                    <div>
                      <img src="/img/_/dp01.png" />
                    </div>
                    <i>Feless VR</i>
                    <label data-toggle="checkbox" class="checkbox-pretty">
                      <input type="checkbox"><span>39</span>
                    </label>
                  </li>
                  <li class="">
                    <div><img src="/img/_/dp02.png" /> </div>
                    <i>Feless VR</i>
                    <label data-toggle="checkbox" class="checkbox-pretty">
                      <input type="checkbox"><span>50</span>
                    </label>
                  </li>
                  <li class="">
                    <div><img src="/img/_/dp03.png" /></div>
                    <i>Feless VR</i>
                    <label data-toggle="checkbox" class="checkbox-pretty">
                      <input type="checkbox"><span>59</span>
                    </label>
                  </li>
                  <li class="">
                    <div><img src="/img/_/dp04.png" /></div>
                    <i>Feless VR</i>
                    <label data-toggle="checkbox" class="checkbox-pretty">
                      <input type="checkbox"><span>99</span>
                    </label>
                  </li>
                </ul>
              </div>
              <div class="fr result">
                <div class="num">0 items selected</div>
                <div class="price-tit"><strong>Bundle Price</strong></div>
                <div class="price">￥5299</div>
                <button class="sui-btn  btn-danger addshopcar">Buy Now</button>
              </div>
            </div>
          </div>
          <div class="tab-main intro">
            <ul class="sui-nav nav-tabs tab-wraped">
              <li class="active">
                <a href="#one" data-toggle="tab">
                  <span>Product Introduction</span>
                </a>
              </li>
              <li>
                <a href="#two" data-toggle="tab">
                  <span>Specifications & Packaging</span>
                </a>
              </li>
              <li>
                <a href="#three" data-toggle="tab">
                  <span>After-Sales Guarantee</span>
                </a>
              </li>
              <li>
                <a href="#four" data-toggle="tab">
                  <span>Product Reviews</span>
                </a>
              </li>
              <li>
                <a href="#five" data-toggle="tab">
                  <span>Phone Community</span>
                </a>
              </li>
            </ul>
            <div class="clearfix"></div>
            <div class="tab-content tab-wraped">
              <div id="one" class="tab-pane active">
                <ul class="goods-intro unstyled">iphone12 pro very good</ul>
                <ul class="goods-intro unstyled">
                  <li>Resolution: 1920*1080(FHD)</li>
                  <li>Rear camera: 12MP</li>
                  <li>Front camera: 5MP</li>
                  <li>Cores: Other</li>
                  <li>Frequency: Subject to official website</li>
                  <li>Brand: Apple</li>
                  <li>Product name: APPLE iPhone 6s Plus</li>
                  <li>Product ID: 1861098</li>
                  <li>Gross weight: 0.51kg</li>
                  <li>Place of origin: Mainland China</li>
                  <li>Highlights: Fingerprint ID, Apple Pay, metal body, great camera</li>
                  <li>System: Apple (iOS)</li>
                  <li>Pixels: 10-16MP</li>
                  <li>Storage: 64GB</li>
                </ul>
                <div class="intro-detail">
                  <img src="/img/_/intro01.png" />
                  <img src="/img/_/intro02.png" />
                  <img src="/img/_/intro03.png" />
                </div>
              </div>
              <div id="two" class="tab-pane">
                <p>Specifications & Packaging</p>
              </div>
              <div id="three" class="tab-pane">
                <p>After-Sales Guarantee</p>
              </div>
              <div id="four" class="tab-pane">
                <p>Product Reviews</p>
              </div>
              <div id="five" class="tab-pane">
                <p>Phone Community</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--like-->
      <div class="clearfix"></div>
      <div class="like">
        <h4 class="kt">You May Also Like</h4>
        <div class="like-list">
          <ul class="yui3-g">
            <li class="yui3-u-1-6">
              <div class="list-wrap">
                <div class="p-img">
                  <img src="/img/_/itemlike01.png" />
                </div>
                <div class="attr">
                  <em>Dell Inspiron 15MR-7528SS 15-inch Silver Laptop</em>
                </div>
                <div class="price">
                  <strong>
                    <em>¥</em>
                    <i>3699.00</i>
                  </strong>
                </div>
                <div class="commit">
                  <i class="command">6 reviews</i>
                </div>
              </div>
            </li>
            <li class="yui3-u-1-6">
              <div class="list-wrap">
                <div class="p-img">
                  <img src="/img/_/itemlike02.png" />
                </div>
                <div class="attr">
                  <em>Apple iPhone 6s/6s Plus 16G 64G 128G</em>
                </div>
                <div class="price">
                  <strong>
                    <em>¥</em>
                    <i>4388.00</i>
                  </strong>
                </div>
                <div class="commit">
                  <i class="command">700 reviews</i>
                </div>
              </div>
            </li>
            <li class="yui3-u-1-6">
              <div class="list-wrap">
                <div class="p-img">
                  <img src="/img/_/itemlike03.png" />
                </div>
                <div class="attr">
                  <em>Dell Inspiron 15MR-7528SS 15-inch Silver Laptop</em>
                </div>
                <div class="price">
                  <strong>
                    <em>¥</em>
                    <i>4088.00</i>
                  </strong>
                </div>
                <div class="commit">
                  <i class="command">700 reviews</i>
                </div>
              </div>
            </li>
            <li class="yui3-u-1-6">
              <div class="list-wrap">
                <div class="p-img">
                  <img src="/img/_/itemlike04.png" />
                </div>
                <div class="attr">
                  <em>Dell Inspiron 15MR-7528SS 15-inch Silver Laptop</em>
                </div>
                <div class="price">
                  <strong>
                    <em>¥</em>
                    <i>4088.00</i>
                  </strong>
                </div>
                <div class="commit">
                  <i class="command">700 reviews</i>
                </div>
              </div>
            </li>
            <li class="yui3-u-1-6">
              <div class="list-wrap">
                <div class="p-img">
                  <img src="/img/_/itemlike05.png" />
                </div>
                <div class="attr">
                  <em>Dell Inspiron 15MR-7528SS 15-inch Silver Laptop</em>
                </div>
                <div class="price">
                  <strong>
                    <em>¥</em>
                    <i>4088.00</i>
                  </strong>
                </div>
                <div class="commit">
                  <i class="command">700 reviews</i>
                </div>
              </div>
            </li>
            <li class="yui3-u-1-6">
              <div class="list-wrap">
                <div class="p-img">
                  <img src="/img/_/itemlike06.png" />
                </div>
                <div class="attr">
                  <em>Dell Inspiron 15MR-7528SS 15-inch Silver Laptop</em>
                </div>
                <div class="price">
                  <strong>
                    <em>¥</em>
                    <i>4088.00</i>
                  </strong>
                </div>
                <div class="commit">
                  <i class="command">700 reviews</i>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- Footer -->
  <!-- Bottom of page -->
  <div class="clearfix footer">
    <div class="py-container">
      <div class="footlink">
        <div class="Mod-service">
          <ul class="Mod-Service-list">
            <li class="grid-service-item intro  intro1">

              <i class="serivce-item fl"></i>
              <div class="service-text">
                <h4>Genuine Guarantee</h4>
                <p>Genuine products with invoice provided</p>
              </div>

            </li>
            <li class="grid-service-item  intro intro2">

              <i class="serivce-item fl"></i>
              <div class="service-text">
                <h4>Genuine Guarantee</h4>
                <p>Genuine products with invoice provided</p>
              </div>

            </li>
            <li class="grid-service-item intro  intro3">

              <i class="serivce-item fl"></i>
              <div class="service-text">
                <h4>Genuine Guarantee</h4>
                <p>Genuine products with invoice provided</p>
              </div>

            </li>
            <li class="grid-service-item  intro intro4">

              <i class="serivce-item fl"></i>
              <div class="service-text">
                <h4>Genuine Guarantee</h4>
                <p>Genuine products with invoice provided</p>
              </div>

            </li>
            <li class="grid-service-item intro intro5">

              <i class="serivce-item fl"></i>
              <div class="service-text">
                <h4>Genuine Guarantee</h4>
                <p>Genuine products with invoice provided</p>
              </div>

            </li>
          </ul>
        </div>
        <div class="clearfix Mod-list">
          <div class="yui3-g">
            <div class="yui3-u-1-6">
              <h4>Shopping Guide</h4>
              <ul class="unstyled">
                <li>Shopping Process</li>
                <li>Membership Info</li>
                <li>Travel & Group Buy</li>
                <li>FAQ</li>
                <li>Shopping Guide</li>
              </ul>

            </div>
            <div class="yui3-u-1-6">
              <h4>Delivery Methods</h4>
              <ul class="unstyled">
                <li>Self Pickup</li>
                <li>211 Express Delivery</li>
                <li>Delivery Tracking</li>
                <li>Delivery Fee Standard</li>
                <li>Overseas Delivery</li>
              </ul>
            </div>
            <div class="yui3-u-1-6">
              <h4>Payment Methods</h4>
              <ul class="unstyled">
                <li>Cash on Delivery</li>
                <li>Online Payment</li>
                <li>Installment Payment</li>
                <li>Postal Remittance</li>
                <li>Bank Transfer</li>
              </ul>
            </div>
            <div class="yui3-u-1-6">
              <h4>After-Sales Service</h4>
              <ul class="unstyled">
                <li>After-Sales Policy</li>
                <li>Price Protection</li>
                <li>Refund Policy</li>
                <li>Repair / Return & Exchange</li>
                <li>Cancel Order</li>
              </ul>
            </div>
            <div class="yui3-u-1-6">
              <h4>Featured Services</h4>
              <ul class="unstyled">
                <li>Treasure Auction</li>
                <li>DIY PC Building</li>
                <li>Extended Warranty</li>
                <li>Pinyougo E-Card</li>
                <li>Pinyougo Telecom</li>
              </ul>
            </div>
            <div class="yui3-u-1-6">
              <h4>Help Center</h4>
              <img src="/img/erwei_jz.png">
            </div>
          </div>
        </div>
        <div class="Mod-copyright">
          <ul class="helpLink">
            <li>About Us<span class="space"></span></li>
            <li>Contact Us<span class="space"></span></li>
            <li>About Us<span class="space"></span></li>
            <li>Merchant Signup<span class="space"></span></li>
            <li>Marketing Center<span class="space"></span></li>
            <li>Related Links<span class="space"></span></li>
            <li>About Us<span class="space"></span></li>
            <li>Marketing Center<span class="space"></span></li>
            <li>Related Links<span class="space"></span></li>
            <li>About Us</li>
          </ul>
          <p>Flash Sale System Demo</p>
          <p>Business Cooperation: zhixian@example.com</p>
        </div>
      </div>
    </div>
  </div>
  </div>
  <!-- Bottom of page END -->
  <!-- Sidebar panel start -->
  <div class="J-global-toolbar">
    <div class="toolbar-wrap J-wrap">
      <div class="toolbar">
        <div class="toolbar-panels J-panel">

          <!-- Cart -->
          <div style="visibility: hidden;" class="J-content toolbar-panel tbar-panel-cart toolbar-animate-out">
            <h3 class="tbar-panel-header J-panel-header">
              <a href="" class="title"><i></i><em class="title">Cart</em></a>
              <span class="close-panel J-close" onclick="cartPanelView.tbar_panel_close('cart');"></span>
            </h3>
            <div class="tbar-panel-main">
              <div class="tbar-panel-content J-panel-content">
                <div id="J-cart-tips" class="tbar-tipbox hide">
                  <div class="tip-inner">
                    <span class="tip-text">Not logged in yet. Items will be saved after you log in.</span>
                    <a href="#none" class="tip-btn J-login">Log In</a>
                  </div>
                </div>
                <div id="J-cart-render">
                  <!-- List -->
                  <div id="cart-list" class="tbar-cart-list">
                  </div>
                </div>
              </div>
            </div>
            <!-- Subtotal -->
            <div id="cart-footer" class="tbar-panel-footer J-panel-footer">
              <div class="tbar-checkout">
                <div class="jtc-number"> <strong class="J-count" id="cart-number">0</strong> items </div>
                <div class="jtc-sum"> Total:<strong class="J-total" id="cart-sum">¥0</strong> </div>
                <a class="jtc-btn J-btn" href="#none" target="_blank">Checkout with Cart</a>
              </div>
            </div>
          </div>

          <!-- My Favorites -->
          <div style="visibility: hidden;" data-name="follow" class="J-content toolbar-panel tbar-panel-follow">
            <h3 class="tbar-panel-header J-panel-header">
              <a href="#" target="_blank" class="title"> <i></i> <em class="title">My Favorites</em> </a>
              <span class="close-panel J-close" onclick="cartPanelView.tbar_panel_close('follow');"></span>
            </h3>
            <div class="tbar-panel-main">
              <div class="tbar-panel-content J-panel-content">
                <div class="tbar-tipbox2">
                  <div class="tip-inner"> <i class="i-loading"></i> </div>
                </div>
              </div>
            </div>
            <div class="tbar-panel-footer J-panel-footer"></div>
          </div>

          <!-- My Footprints -->
          <div style="visibility: hidden;" class="J-content toolbar-panel tbar-panel-history toolbar-animate-in">
            <h3 class="tbar-panel-header J-panel-header">
              <a href="#" target="_blank" class="title"> <i></i> <em class="title">My Footprints</em> </a>
              <span class="close-panel J-close" onclick="cartPanelView.tbar_panel_close('history');"></span>
            </h3>
            <div class="tbar-panel-main">
              <div class="tbar-panel-content J-panel-content">
                <div class="jt-history-wrap">
                  <ul>
                    <!--<li class="jth-item">
										<a href="#" class="img-wrap"> <img src="../../.../portal/img/like_03.png" height="100" width="100" /> </a>
										<a class="add-cart-button" href="#" target="_blank">Buy Now</a>
										<a href="#" target="_blank" class="price">￥498.00</a>
									</li>
									<li class="jth-item">
										<a href="#" class="img-wrap"> <img src="../../../portal/img/like_02.png" height="100" width="100" /></a>
										<a class="add-cart-button" href="#" target="_blank">Buy Now</a>
										<a href="#" target="_blank" class="price">￥498.00</a>
									</li>-->
                  </ul>
                  <a href="#" class="history-bottom-more" target="_blank">View more footprint items &gt;&gt;</a>
                </div>
              </div>
            </div>
            <div class="tbar-panel-footer J-panel-footer"></div>
          </div>

        </div>

        <div class="toolbar-header"></div>

        <!-- Sidebar buttons -->
        <div class="toolbar-tabs J-tab">
          <div onclick="cartPanelView.tabItemClick('cart')" class="toolbar-tab tbar-tab-cart" data="Cart" tag="cart">
            <i class="tab-ico"></i>
            <em class="tab-text"></em>
            <span class="tab-sub J-count " id="tab-sub-cart-count">0</span>
          </div>
          <div onclick="cartPanelView.tabItemClick('follow')" class="toolbar-tab tbar-tab-follow" data="My Favorites"
            tag="follow">
            <i class="tab-ico"></i>
            <em class="tab-text"></em>
            <span class="tab-sub J-count hide">0</span>
          </div>
          <div onclick="cartPanelView.tabItemClick('history')" class="toolbar-tab tbar-tab-history" data="My Footprints"
            tag="history">
            <i class="tab-ico"></i>
            <em class="tab-text"></em>
            <span class="tab-sub J-count hide">0</span>
          </div>
        </div>

        <div class="toolbar-footer">
          <div class="toolbar-tab tbar-tab-top"> <a href="#"> <i class="tab-ico  "></i> <em
                class="footer-tab-text">Top</em> </a> </div>
          <div class="toolbar-tab tbar-tab-feedback"> <a href="#" target="_blank"> <i class="tab-ico"></i> <em
                class="footer-tab-text ">Feedback</em> </a> </div>
        </div>

        <div class="toolbar-mini"></div>

      </div>

      <div id="J-toolbar-load-hook"></div>

    </div>
  </div>




</body>

</html>
